.form-outer {
  height: 100vh;
  display: grid;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;

  &__input-container {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    &--align-baseline {
      align-items: baseline;
    }
  }

  &__question {
    font-size: 2rem;
  }

  &__search-for {
    font-size: 2rem;
  }

  &__radio {
    font-size: 2rem;
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 2px solid #C1BC9E;
    border-radius: 10px;
    background-color: #2A3747;
    display: inline-grid;
    place-content: center;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      transform: scale(0);
      transform-origin: bottom left;
      background-color: #2A3747;
      clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:checked {
      background-color: #C1BC9E;
      border: 2px solid #C1BC9E;
    }
  }

  &__label {
    font-size: 2rem;
  }

  &__number {
    font-size: 2rem;
  }

  &__submit {
    font-size: 2rem;
  }
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 9rem 5rem;
}

.title {
  font-size: 8rem;
}

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  row-gap: 1rem;

  &__content {
    font-size: 2rem;
    font-weight: 400;
  }

  &__link {
    font-size: 1.6rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__title {
    margin-bottom: 1.5rem;
  }
}

.loader-container {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .form {
    &__input-container {
      display: flex;
      gap: 1rem;
    }

    &__question {
      font-size: 4.5rem;
    }

    &__search-for {
      font-size: 3rem;
    }

    &__radio {
      font-size: 2rem;
      appearance: none;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border: 2px solid #C1BC9E;
      border-radius: 20px;
      background-color: #2A3747;
      display: inline-grid;
      place-content: center;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__label {
      font-size: 15.8rem;
    }

    &__number {
      font-size: 9rem;
      color: var(--color-secondary);
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--color-secondary);
    }

    &__submit {
      margin-top: 1rem;
      font-size: 4.5rem;
      background-color: transparent;
      color: var(--color-secondary);
      border: none;
      border-bottom: 1px solid var(--color-secondary);
      cursor: pointer;

      &:hover {
        background-color: #25313f;
      }
    }
  }

  .section {
    padding: 10rem 6rem;
  }

  .title {
    font-size: 10rem;
  }

  .data {
    &__content {
      font-size: 3.5rem;
    }

    &__link {
      font-size: 2rem;
      color: var(--color-secondary);

      &--character {
        color: var(--color-primary);
      }
    }
  }

  .list {
    &__title {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 15.8rem;
  }

  .data {
    &__content {
      font-size: 4.5rem;
    }

    &__link {
      font-size: 2rem;
      color: var(--color-secondary);

      &--character {
        color: var(--color-primary);
      }
    }
  }
}